<p>nav-bar works!</p>
<nav class="nav-menu">
  <mat-icon 
  class="nav-icon"
    aria-hidden="false" 
    aria-label="menu-icon" 
    fontIcon="menu"
    (click)="toggleSideBar()"
  ></mat-icon>
  <h1 class="nav-system-name">Billy Bot</h1>
  <div
    class="nav-icons-container"
  >
    <mat-icon 
      class="nav-icon"
      aria-hidden="false" 
      aria-label="menu-icon" 
      fontIcon="notifications_active"
      matBadge="5"
    ></mat-icon>
    <mat-icon 
      class="nav-icon"
      aria-hidden="false" 
      aria-label="menu-icon" 
      fontIcon="more_vert"
    ></mat-icon>
  </div>
</nav>